* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
}

#menu {
  width: 20%;
  padding: 1rem;
  color: white;
  background: cornflowerblue;
}

#content {
  padding: 5rem;
}