* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  scrollbar-color: white cornflowerblue;
}

#menu {
  width: 300px;
  overflow: auto;
  color: white;
  padding: 0 1rem;
  flex: 0 0 300px;
  margin-top: 4rem;
  list-style: none;
  background: cornflowerblue;
}

#menu .header-tasks {
  top: 0;
  left: 0;
  gap: 0.5rem;
  display: flex;
  padding: 1rem;
  width: 300px;
  position: fixed;
  background: cornflowerblue;
}

#menu ul {
  gap: 1rem;
  width: 300;
  display: flex;
  font-size: 20px;
  margin-top: 1rem;
  overflow: hidden;
  list-style: none;
  font-weight: bold;
  flex-direction: column;
}

#menu li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#content {
  gap: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5rem 10rem 2rem 10rem;
}

#content form {
  gap: 1rem;
  width: 100%;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  border: solid black;
}

#content form .buttons {
  gap: 1rem;
  display: flex;
  align-self: flex-end;
}

#content form button {
  padding: 0.5rem 1rem;
}